.artworkdetails-container {
  font-family: var(--secondary-font);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.artwork-title {
  font-size: 2rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.4);
  color: var(--white);
}

.artwork-img {
  width: 100%;
  height: 45vh;
  position: relative;
  border-radius: 1rem;
  box-shadow: var(--shadow-container);
  overflow: hidden;
}

.artwork-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* MAP HIDDEN IN MOBILE */
.map {
  display: none;
}

.about-user-artwork {
  background-color: aliceblue;
  font-size: 1.1rem;
  width: 100%;
  height: 9vh;
  border-radius: 1rem;
  padding: 1.5px;
  box-shadow: var(--shadow-container);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.user-img-artwork {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: cover;
  border-radius: 50%;
}

.about-artwork {
  font-weight: bold;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
}

/************************** DESKTOP VERSION **************************/
@media screen and (min-width: 768px) {
  .artwork-img img {
    width: 100%;
    height: 100%;
  }

  .map {
    display: block;
    width: 35vw;
    height: 38vh;
    object-fit: cover;
    border-radius: 1rem;
  }

  .about-user-artwork {
    width: 35vw;
    height: 9vh;
  }

  /******************* GRID *******************/
  .artworkdetails-container {
    margin-top: 2rem;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 30vh 30vh;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
  }
  .artwork-img {
    grid-area: 1 / 1 / 2 / 2;
    align-self: flex-start;
    width: 35vw;
    height: 60vh;
  }
  .map {
    grid-area: 1 / 2 / 2 / 3;
    width: 100%;
    align-self: flex-start;
  }
  .about-artwork {
    grid-area: 2 / 2 / 3 / 3;
    align-self: center;
    width: 100%;
  }
  .about-user-artwork {
    grid-area: 2 / 2 / 3 / 3;
    align-self: flex-end;
    width: 100%;
  }
}
