.artworkdetails-container {
  height: 82vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 1rem;

}

.artwork-title {
  color: var(--white);
  font-size: 2rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.4);
}

.artwork-img {
  height: 50vh;
  position: relative;
  border-radius: 1rem;
  box-shadow: var(--shadow-container);
  overflow: hidden;
}

.artwork-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* MAP HIDDEN IN MOBILE */
.map {
  display: none;
}

.about-user-artwork {
  background-color: aliceblue;
  font-size: 1.1rem;
  width: 100%;
  height: 9vh;
  border-radius: 1rem;
  padding: 1.5px;
  box-shadow: var(--shadow-container);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.user-img-artwork {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: cover;
  border-radius: 50%;
}

.about-artwork {
  font-weight: bold;
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 15vh;
  justify-content: space-around;
}

.report-artworkdetails {
  display: flex;
  justify-content: center;
}

.report-btn {
  color: #1368d0b0;
  border: 1px solid #1368d0b0;
  background-color: aliceblue;
  border-radius: 0.5rem;
  font-size: 1.1rem;
  padding: 0.3rem;
  box-shadow: var(--shadow-container);
}

.report-btn:active {
  box-shadow: none;
}

.flex-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 23vh;
}

.artworkdetails-info {
  display: flex;
  flex-direction: column;
  height: 75vh;
  justify-content: space-evenly;
}

/************************** DESKTOP VERSION **************************/
@media screen and (min-width: 768px) {
  .artworkdetails-container {
    height: 50vh;
    width: 100%;
    margin-top: 2rem;
  }

  .artwork-img img {
    width: 100%;
    height: 100%;
  }

  .flex-right {
    height: 50vh;
    justify-content: space-between;
  }

  .map {
    display: block;
    width: 100%;
    height: 25vh;
    object-fit: cover;
    border-radius: 1rem;
  }

  .about-user-artwork {
    width: 35vw;
    height: 9vh;
  }
  
  .artworksdetails-all-info {
    width: 85vw;
    display: flex;
    justify-content: space-evenly;
  }
}