.homepage-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.link-homepage {
  width: 75%;
  font-size: 1rem;
  margin: 0 auto;
}

.titles-homepage {
  text-align: center;
  font-size: 1.5rem;
}

.artworks-homepage {
  display: flex;
  justify-content: space-around;
}

.artworks-news-homepage .artwork-card {
  width: 30vw;
  height: 30vw;
  margin: 0;
}

.roadmap-homepage {
  width: 95%;
  height: 120px;
  box-shadow: var(--shadow-container);
  margin: 0 auto;
  border-radius: 1rem;
}

.roadmap-homepage .map {
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 1rem;
}

.bottom-desktop-container {
  display: contents;
}

.ranking-homepage {
  display: none;
}

.badge-homepage {
  margin: 0.5rem;
}

/* ************************* DESKTOP VERSION **************************/
@media screen and (min-width: 768px) {
  .link-homepage {
    width: 25%;
    font-size: 1.2rem;
  }

  .titles-homepage {
    font-size: 2rem;
    padding-bottom: 0.5rem;
  }

  .artworks-homepage {
    /* width: 90%; */
    justify-content: space-evenly;
    margin: 0 auto;
  }

  .artworks-news-homepage .artwork-card {
    width: 16vw;
    height: 16vw;
  }

  .roadmap-homepage .text-roadmap {
    display: none;
  }

  .bottom-desktop-container {
    display: flex;
    justify-content: space-evenly;
  }

  .roadmap-homepage {
    width: 35vw;
    height: 20vw;
  }

  .ranking-homepage {
    display: block;
  }

  .ranking-homepage .rank-boxes {
    width: 35vw;
  }

  .ranking-homepage .rank-container {
    padding: 0;
  }

  .top3-mobile {
    display: none;
  }
}
