.profile-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.my-profile {
  box-shadow: var(--shadow-container);
  background-color: rgb(230, 232, 234);
  border-radius: 1rem;
  padding: 0.8rem;
  margin: 1rem;
}

.top-profile {
  display: flex;
  justify-content: space-around;
}

.image-profile {
  width: 10rem;
  border-radius: 50%;
}

.pseudo-profile {
  text-align: center;
}

.edit-profile {
  height: 4.5vh;
  width: 7.5vw;
}

.level-points {
  box-shadow: var(--shadow-container);
  background-color: rgb(196, 225, 250);
  border-radius: 0.4rem;
  height: auto;
  padding: 0.4rem;
  text-align: center;
}

.points-edit-mobile {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.info-profile {
  box-shadow: var(--shadow-container);
  background-color: rgb(237, 238, 238);
  border-radius: 1rem;
  font-size: 1.2rem;
  line-height: 1.5rem;
  padding: 0.5rem;
  margin-top: 1rem;
}

.my-artworks {
  display: flex;
}
.my-artworks .artwork-card {
  width: 30vw;
  height: 30vw;
}

.my-artworks .artwork-info {
  height: 1.5rem;
  font-size: 0.8rem;
}

.artworks-profile {
  display: flex;
  width: 100vw;
}

.artwork4,
.title-my-artworks,
.points-edit-desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  .my-profile {
    display: flex;
    justify-content: space-around;
    margin: 2rem;
    margin-bottom: 0;
    padding: 1.5rem;
  }

  .image-profile {
    width: 15rem;
  }

  .info-profile {
    width: 30vw;
    font-size: 1.3rem;
    line-height: 2.8rem;
    padding-left: 1.5rem;
    box-shadow: none;
  }

  .info-desktop {
    box-shadow: var(--shadow-container);
    border-radius: 1rem;
    background-color: rgb(237, 238, 238);
    display: flex;
  }

  .points-edit-desktop {
    width: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 1.5rem;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }

  .edit-profile-desktop {
    width: 2.5rem;
    align-self: end;
    height: 4vh;
    width: 2.2vw;
    padding: 0.2rem;
  }

  .my-artworks {
    box-shadow: var(--shadow-container);
    background-color: rgb(230, 232, 234);
    border-radius: 1rem;
    padding: 1.5rem;
    margin: 2rem;
  }

  .artwork4,
  .title-my-artworks {
    display: block;
  }

  .my-artworks {
    flex-direction: column;
  }

  .my-artworks .artworks-profile {
    margin: 0 auto;
    display: flex;
  }

  .my-artworks .artwork-card {
    width: 17vw;
    height: 17vw;
  }

  .points-edit-mobile {
    display: none;
  }
}
