.profile-edit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.profile-edit-box {
  width: 90%;
  box-shadow: var(--shadow-container);
  background-color: rgb(230, 232, 234);
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar-profile-edit {
  width: 6rem;
  border-radius: 50%;
}

.pen-edit {
  width: 2rem;
}

.modify-profil-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modify-profil {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 2rem;
}

.modify-profil-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 4rem;
  align-items: flex-end;
  width: 80%;
}

.modify-profil-input-pwd {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
  height: 2.5rem;
  align-items: flex-end;
}

.modify-profil-avatar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 7rem;
}

.btn-modifications {
  margin: 1rem;
  font-size: 0.8rem;
}

.input-default-edit {
  font-size: 1rem;
}

.pwd-edit .input-default {
  width: 100%;
}

.pwd-modify-btn {
  background: none;
  color: inherit;
  border: none;
  padding-top: 2rem;
  font: inherit;
  outline: inherit;
  display: flex;
}

.pwd-modify-btn-text {
  padding-right: 1rem;
}

.pwd-edit {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.edit-password-pen {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

@media screen and (min-width: 768px) {
  .profile-edit-box {
    width: 40%;
  }

  .avatar-profile-edit {
    width: 8rem;
  }

  .modify-profil {
    width: 50%;
  }

  .modify-profil-avatar {
    height: 8rem;
  }

  .edit-password-pen {
    width: 90%;
  }
}
