.rank-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.rank-display-columns {
  display: flex;
  flex-direction: column;
}

.rank-explain-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: var(--shadow-container);
  border-radius: 1rem;
  padding: 1rem;
  background-color: aliceblue;
  margin: 1rem 0;
}

.points-explain {
  padding-bottom: 2rem;
}

.rank-boxes {
  box-shadow: var(--shadow-container);
  height: 4rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 0.5rem;
  margin: 0.5rem 0;
  font-weight: 600;
}

.thead-rank-boxes {
  margin-bottom: 0;
}

.user-img-ranking {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: cover;
  border-radius: 50%;
}

.td-pseudo {
  width: 40%;
}

.img-coin {
  width: 1rem;
  padding: 0 0.2rem;
}

.td-points {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.badge-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/************************** DESKTOP VERSION **************************/
@media screen and (min-width: 768px) {
  .rank-display-columns {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
  }

  .classement-title {
    text-align: center;
  }

  .rank-explain-box {
    box-shadow: none;
    border-radius: 0;
    padding: 0rem;
    background-color: transparent;
    position: sticky;
    top: 1rem;
    margin: 0.5rem 0;
    width: 50%;
  }

  .rank-explain {
    box-shadow: var(--shadow-container);
    border-radius: 1rem;
    padding: 2rem;
    background-color: aliceblue;
  }

  .rank-box {
    width: 50%;
  }

  .td-position {
    width: 7%;
  }

  .td-pseudo {
    width: 33%;
  }

  .td-img {
    width: 20%;
  }

  .td-points {
    width: 15%;
  }

  .td-badge {
    width: 10%;
  }
}
