:root {
  --primary-font: "Amsterdam";
  --secondary-font: "Quicksand";
  --font-size: 16px;
  --white: #f8f8f8;
  --black: #1a1616;
  --breakpoint-small: 576px;
  --breakpoint-medium: 768px;
  --shadow-container: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

/* à utiliser pour le breakpoint
@media screen and (min-width: 768px) */

@font-face {
  font-family: "Amsterdam";
  src: url("/assets/fonts/amsterdam.ttf") format("truetype");
}

.quicksand {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--secondary-font);
  background-color: var(--white);
  color: var(--black);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  display: block;
}

.main-container {
  margin-bottom: 9vh;
}

/* Bouton par défaut, modifier le background-image pour la couleur du bouton. */
.btn {
  background-image: linear-gradient(#0dccea, #0d70ea);
  border: 0;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: Montserrat, sans-serif;
  font-size: 0.5em;
  padding: 0.6rem 1rem;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:hover {
  opacity: 0.8;
  transition: 0.3s;
}

/* Input par défaut */
input {
  background: 0;
  border: 0;
  outline: none;
  width: 40vw;
  max-width: 400px;
  font-size: 0.7em;
  transition: padding 0.3s 0.2s ease;
}

input:focus {
  padding-bottom: 5px;
}

input:focus + .line:after {
  transform: scaleX(1);
}

.field {
  position: relative;
}

.field .line {
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: -8px;
  background: #bdc3c7;
}

.field .line:after {
  content: " ";
  position: absolute;
  float: right;
  width: 100%;
  height: 3px;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  background: #0dccea;
}

/************************DESKTOP VERSION****************/

@media screen and (min-width: 768px) {
  .main-container {
    margin-bottom: 0;
  }
}
