.others-artworks {
  display: none;
}

/********************** DESKTOP VERSION **********************/
@media screen and (min-width: 768px) {
  .others-artworks {
    display: block;
    margin-top: 2rem;
  }

  .others-title {
    font-size: 1.5rem;
    margin-top: 3.5rem;
    padding-bottom: 0.5rem;
  }
  .img-othersartworks {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .img-othersartworks img {
    width: 10vw;
    height: 10vw;
    border-radius: 1rem;
    padding: 0.3rem;
  }
}
